<div class="w-100 d-flex flex-column ">
  <a class="mt-3 mx-auto w-75" href="/userdb/listuser"><button class="btn btn-primary w-100" type="button">Lista Użytkowników</button></a>
  <a class="mt-3 mx-auto w-75"  href="/ovnerrip/list"><button class="btn btn-primary w-100" type="button">Lista Dysponetow kwater</button></a>
   <a class="mt-3 mx-auto w-75"  href="/ovnerrip/listovnernew"><button class="btn btn-primary w-100" type="button">Lista Dysponetow kwater z kwaterami</button></a>
  <a class="mt-3 mx-auto w-75"  href="/anonse/list"><button class="btn btn-primary w-100 " type="button">Lista Ogłoszen</button></a>
  <a class="mt-3 mx-auto w-75"  href="/gravequarters/list"><button class="btn btn-primary w-100 " type="button">Lista kwater</button></a>
  <a class="mt-3 mx-auto w-75"  href="/burial/list"><button class="btn btn-primary w-100 " type="button">Lista pochówków</button></a>
  <a class="mt-3 mx-auto w-75"  href="/exhumation/list"><button class="btn btn-primary w-100 " type="button">Lista eksumacji</button></a>
  <a class="mt-3 mx-auto w-75"  href="/inten/list"><button class="btn btn-primary w-100 " type="button">Lista Intencji</button></a>
  <a class="mt-3 mx-auto w-75"  href="/func/list"><button class="btn btn-primary w-100 " type="button">Funkcje</button></a>
</div>